<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Instagram</h1>
    </div>

    <div class="starter-template">

        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username and password.
            </div>
        </div>

        <h2>You successfully authorized in Instagram</h2>
        <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>